* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: mont;
  src: url("../assets/montserrat-v25-latin-regular.woff2");
}

body {
  font-family: cursive;
  background-color: var(--grey);
}

:root {
  --primary: rgb(209, 208, 208);
  --secondry: rgb(106, 180, 127);
  --secondry-dark: rgb(66, 113, 79);
  --text-primary: rgb(209, 208, 208);
  --text-secondry:rgb(106, 180, 127);
  --text-secondry-dark:rgb(66, 113, 79);
  --black: #000;
  --text-black: #000;
  --white: #fff;
  --text-white: #fff;
}

h1 {
  font-family: cursive;
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-size: 2rem;
  line-height: 1.5;
}

h3{
  font-family: mont;
  font-size: 1.4rem;
  line-height: 1.5;
}

button{
  background-color: var(--secondry-dark);
  padding: 1rem 2rem;
  border-radius: 6px;
  font-family: mont;
  cursor: pointer;
  transition: all .4s ease;
  margin-top: 1rem;
  border: none;
}
button:hover{
  background-color: var(--secondry);
}

.c-grey {
  color: var(--text-primary);
}
.c-white {
  color: var(--text-white);
}
.c-black {
  color: var(---text-black);
}

.flex {
  display: flex;
}

.navbar_wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--secondry-dark);
}
.navbar {
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .navlinks a:active, .navlinks a:hover , .navlinks a:focus{
  background-color: #0074b1;
} */

.max_w{
  max-width: 1366px;
  margin: 0 auto;
  
}

.navbar a {
  padding: 0rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar a:hover {
  color: var(--text-white);
}

main {
  height: calc(100vh - 80px);
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(255,255,255,.2)) , url("../assets/person.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.intro_wrapper{
  padding-left: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer {
  height: 20vh;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  list-style: none;
}
footer ul li {
  width: 60px;
  height: 60px;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  background-position: center;
  transition: all 1s ease;
  background-image: linear-gradient(to bottom, #e65552 50%, #e65552 50%);
  background-repeat: no-repeat;
  background-size: 0px 0px;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
footer ul li:hover {
  background-size: 60px 60px;
}
footer ul li:hover svg {
  fill: var(--white);
}

.facebook {
  background-image: linear-gradient(to bottom, #0b83ed 50%, #0b83ed 50%);
}

.twitter {
  background-image: linear-gradient(to bottom, #1d9bf0 50%, #1d9bf0 50%);
}

.linkedin {
  background-image: linear-gradient(to bottom, #0074b1 50%, #0074b1 50%);
}

.instagram {
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

svg {
  width: auto;
  height: 100%;
  transition: all 1s ease;
}

.b{
  border: 2px solid saddlebrown;
}
a{
  text-decoration: none;
  transition: all .3s ease;
}

.switch-button{
  position: fixed;
  bottom:  20px;
  right: 20px;
}